In [ ]:
#install selenium
pip install selenium

Collecting selenium
  Downloading selenium-4.10.0-py3-none-any.whl (6.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.7/6.7 MB 28.6 MB/s eta 0:00:0000:0100:01
Collecting trio~=0.17
  Downloading trio-0.22.2-py3-none-any.whl (400 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 400.2/400.2 kB 12.4 MB/s eta 0:00:00
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /Users/dustinchanlim/anaconda3/lib/python3.10/site-packages (from selenium) (1.26.14)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.10.3-py3-none-any.whl (17 kB)
Requirement already satisfied: certifi>=2021.10.8 in /Users/dustinchanlim/anaconda3/lib/python3.10/site-packages (from selenium) (2022.12.7)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: idna in /Users/dustinchanlim/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: attrs>=20.1.0 in /Users/dustinchanlim/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in /Users/dustinchanlim/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.2-py3-none-any.whl (14 kB)
Requirement already satisfied: sniffio in /Users/dustinchanlim/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.2.0)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/dustinchanlim/anaconda3/lib/python3.10/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 2.2 MB/s eta 0:00:00
Installing collected packages: outcome, h11, exceptiongroup, wsproto, trio, trio-websocket, selenium
Successfully installed exceptiongroup-1.1.2 h11-0.14.0 outcome-1.2.0 selenium-4.10.0 trio-0.22.2 trio-websocket-0.10.3 wsproto-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#not part of code
from pprint import pprint
import datetime
import requests
from bs4 import BeautifulSoup
import pandas as pd

cookies = {
    'JSESSIONID': '0a0f100d30d6eb75f67897a34214bac6a2f03cd760b4.e38Qah0PchqOa40Max8Ra3qObNn0',
    '_ga_6FB8JY9N4J': 'GS1.1.1685716281.1.0.1685716584.60.0.0',
    '_ga': 'GA1.1.800815718.1685721557',
    '__utmt': '1',
    '_ga_BS6R353VJ0': 'GS1.1.1689229946.21.1.1689230269.0.0.0',
    'AWSALBTG': 'kTWQH7bB3NmboLvBmhAt3HhnA3dQZjuu1h4mt6bcGyLxJ6hLmT1yO7NF2W/Mj/zcxq4I1K4kWOLRoSZF+02nAvY1Rhic9bW/SnY55CN1P3xeBO4W1dg5oBJHP8SsDbN3U30hPVJ4jCWrUTBt6D91cidxgkSKwIjVa50WW+Q66QRRJuMPNA0=',
    'AWSALBTGCORS': 'kTWQH7bB3NmboLvBmhAt3HhnA3dQZjuu1h4mt6bcGyLxJ6hLmT1yO7NF2W/Mj/zcxq4I1K4kWOLRoSZF+02nAvY1Rhic9bW/SnY55CN1P3xeBO4W1dg5oBJHP8SsDbN3U30hPVJ4jCWrUTBt6D91cidxgkSKwIjVa50WW+Q66QRRJuMPNA0=',
    'AWSALB': '/vrk+C7CTjWRshyNhWIVQw6buibVR3Zxd8Fptb4uUSMCIjy21mK+faANv4eMrnwSckGKTnT3UCHOt0kCow0u96lPDHW52k+3qmqaX4/n/A2qvJ/4yyE3V3BF1F6/',
    'AWSALBCORS': '/vrk+C7CTjWRshyNhWIVQw6buibVR3Zxd8Fptb4uUSMCIjy21mK+faANv4eMrnwSckGKTnT3UCHOt0kCow0u96lPDHW52k+3qmqaX4/n/A2qvJ/4yyE3V3BF1F6/',
    '__utma': '48268342.800815718.1685721557.1689230307.1689230307.1',
    '__utmc': '48268342',
    '__utmz': '48268342.1689230307.1.1.utmcsr=google|utmccn=(organic)|utmcmd=organic|utmctr=(not%20provided)',
    '__utmb': '48268342.1.10.1689230307',
}

headers = {
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
    'Accept-Language': 'en-US,en;q=0.9',
    'Connection': 'keep-alive',
    # 'Cookie': 'JSESSIONID=0a0f100d30d6eb75f67897a34214bac6a2f03cd760b4.e38Qah0PchqOa40Max8Ra3qObNn0; _ga_6FB8JY9N4J=GS1.1.1685716281.1.0.1685716584.60.0.0; _ga=GA1.1.800815718.1685721557; __utmt=1; _ga_BS6R353VJ0=GS1.1.1689229946.21.1.1689230269.0.0.0; AWSALBTG=kTWQH7bB3NmboLvBmhAt3HhnA3dQZjuu1h4mt6bcGyLxJ6hLmT1yO7NF2W/Mj/zcxq4I1K4kWOLRoSZF+02nAvY1Rhic9bW/SnY55CN1P3xeBO4W1dg5oBJHP8SsDbN3U30hPVJ4jCWrUTBt6D91cidxgkSKwIjVa50WW+Q66QRRJuMPNA0=; AWSALBTGCORS=kTWQH7bB3NmboLvBmhAt3HhnA3dQZjuu1h4mt6bcGyLxJ6hLmT1yO7NF2W/Mj/zcxq4I1K4kWOLRoSZF+02nAvY1Rhic9bW/SnY55CN1P3xeBO4W1dg5oBJHP8SsDbN3U30hPVJ4jCWrUTBt6D91cidxgkSKwIjVa50WW+Q66QRRJuMPNA0=; AWSALB=/vrk+C7CTjWRshyNhWIVQw6buibVR3Zxd8Fptb4uUSMCIjy21mK+faANv4eMrnwSckGKTnT3UCHOt0kCow0u96lPDHW52k+3qmqaX4/n/A2qvJ/4yyE3V3BF1F6/; AWSALBCORS=/vrk+C7CTjWRshyNhWIVQw6buibVR3Zxd8Fptb4uUSMCIjy21mK+faANv4eMrnwSckGKTnT3UCHOt0kCow0u96lPDHW52k+3qmqaX4/n/A2qvJ/4yyE3V3BF1F6/; __utma=48268342.800815718.1685721557.1689230307.1689230307.1; __utmc=48268342; __utmz=48268342.1689230307.1.1.utmcsr=google|utmccn=(organic)|utmcmd=organic|utmctr=(not%20provided); __utmb=48268342.1.10.1689230307',
    'Referer': 'https://aisis.ateneo.edu/',
    'Sec-Fetch-Dest': 'document',
    'Sec-Fetch-Mode': 'navigate',
    'Sec-Fetch-Site': 'same-origin',
    'Upgrade-Insecure-Requests': '1',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36',
    'sec-ch-ua': '"Not.A/Brand";v="8", "Chromium";v="114", "Google Chrome";v="114"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"macOS"',
}

response = requests.get('https://aisis.ateneo.edu/j_aisis/displayLogin.do', cookies=cookies, headers=headers)
soup = BeautifulSoup(response.content,'html.parser')

In [ ]:
#webscraper from aisis and saves it into a file called 'HiDustin.csv'
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
import os


import requests
from bs4 import BeautifulSoup
import csv

#open the website
options = Options()
options.add_argument("--window-size=1920,1080")
driver = webdriver.Chrome(options=options)
driver.get("https://aisis.ateneo.edu/j_aisis/J_VCSC.do")

#open the class schedule
driver.find_element(By.XPATH,"//input[@type='text']").send_keys("221515")
driver.find_element(By.XPATH,"//input[@type='password']").send_keys("VLFbchzz")
driver.find_element(By.XPATH,"//input[@type='submit']").click()
driver.find_element(By.XPATH,"//a[@href='J_VCSC.do']").click()
#this is to open the class schedule on AISIS

classes = [['Subject Code', 'Section', 'Course Title', 'Units', 'Time', 'Room', 'Instructor', 'Max No', 'Lang', 'Level', 'Free Slots', 'Remarks', 'S', 'P']]
for i in range(0,52):
    print('starting department #', i)
    select = Select(driver.find_element(By.XPATH,"//select[@name='deptCode']"))
    select.select_by_index(i)
    driver.find_element(By.XPATH,"//input[@type='submit']").click()
    
    try:
        table_id = driver.find_element('xpath',"/html/body/div/table/tbody/tr[2]/td/table/tbody/tr[2]/td[2]/table/tbody/tr[5]/td/table/tbody")
        rows = table_id.find_elements(By.TAG_NAME, "tr") # get all of the rows in the table
        for row in rows[1:]:
            texts = [item.text for item in row.find_elements(By.TAG_NAME, "td")]
            classes.append(texts)
            # print(texts)  

        # time.sleep(2)
    except:
        print('no classes available')

with open('HiDustin.csv', 'w') as f:
    write = csv.writer(f)
    write.writerows(classes)

starting department # 0
starting department # 1
no classes available
starting department # 2
starting department # 3
starting department # 4
starting department # 5
no classes available
starting department # 6
starting department # 7
no classes available
starting department # 8
starting department # 9
starting department # 10
starting department # 11
starting department # 12
starting department # 13
starting department # 14
starting department # 15
starting department # 16
starting department # 17
starting department # 18
starting department # 19
starting department # 20
starting department # 21
starting department # 22
starting department # 23
starting department # 24
no classes available
starting department # 25
no classes available
starting department # 26
starting department # 27
starting department # 28
starting department # 29
starting department # 30
no classes available
starting department # 31
no classes available
starting department # 32
starting department # 33
starting department # 34
starting department # 35
no classes available
starting department # 36
no classes available
starting department # 37
no classes available
starting department # 38
no classes available
starting department # 39
no classes available
starting department # 40
no classes available
starting department # 41
starting department # 42
starting department # 43
starting department # 44
starting department # 45
starting department # 46
starting department # 47
starting department # 48
starting department # 49
starting department # 50
starting department # 51

In [ ]:
#draft
import pandas as pd

table=pd.read_csv("HiDustin.csv")

monday=[]
tuesday=[]
wednesday=[]
thursday=[]
friday=[]

class1='IDS 132.05i'
preferred_prof1=''
class2='CSCI 117i'
preferred_prof2='MAGPANTAY, Abraham'

In [ ]:
#draft
df1=table[table['Subject Code'] == class1]
if preferred_prof1!='':
    df11=df1[df1['Instructor'] == preferred_prof1]
elif preferred_prof1=='':
    df11=table[table['Subject Code'] == class1]
for i in df11['Time']:
    new_i=i.split()[1]
    list_i=new_i.split('-')
    if 'D' in i:
        monday.append(list_i)
        tuesday.append(list_i)
        wednesday.append(list_i)
        thursday.append(list_i)
        friday.append(list_i)
        while x<3:
        break
    if 'M-W-F' in i:
        monday.append(list_i)
        wednesday.append(list_i)
        friday.append(list_i)
        break
    if 'T' in i:
        schedsplit=i.split(';')
        tue=schedsplit[0].split()
        thur=schedsplit[1].split()
        tues=tue[1].split('-')
        thurs=thur[1].split('-')
        tuesday.append(tues)
        thursday.append(thurs)
        break
    
print('slay')

print(monday)
print(tuesday)
print(wednesday)
print(thursday)
print(friday)

slay
[['1830', '2000']]
[['1230', '1700'], ['1830', '2000'], ['1830', '2000'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700'], ['1230', '1700']]
[['1830', '2000'], ['1830', '2000']]
[['1230', '1530'], ['1830', '2000'], ['1830', '2000'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530'], ['1230', '1530']]
[['1830', '2000'], ['1830', '2000']]

In [ ]:
#draft
if len(monday)==2:
    if (monday[0]==monday[1]) or (monday[1][0]>monday[0][0] and monday[1][0]<monday[0][1]) or (monday[1][1]>monday[0][0] and monday[1][1]<monday[0][1]):
        monday.pop(-1)

if len(tuesday)==2:
    if(tuesday[1][0]>tuesday[0][0] and tuesday[1][0]<tuesday[0][1]) or (tuesday[1][1]>tuesday[0][0] and tuesday[1][1]<tuesday[0][1]):
        tuesday.pop(-1)

if len(wednesday)==2:
    if(wednesday[1][0]>wednesday[0][0] and wednesday[1][0]<wednesday[0][1]) or (wednesday[1][1]>wednesday[0][0] and wednesday[1][1]<wednesday[0][1]):
        wednesday.pop(-1)
print(monday)
print(tuesday)

[['1830', '2000']]
[['1230', '1700'], ['1830', '2000'], ['1830', '2000']]

In [ ]:
#draft
df2=table[table['Subject Code'] == class2]
if preferred_prof2!='':
    df22=df2[df2['Instructor'] == preferred_prof2]
elif preferred_prof2=='':
    df22=table[table['Subject Code'] == class2]
for i in df22['Time']:
    new_i=i.split()[1]
    list_i=new_i.split('-')
    if 'D' in i:
        monday.append(list_i)
        tuesday.append(list_i)
        wednesday.append(list_i)
        thursday.append(list_i)
        friday.append(list_i)
        break
    if 'M-W-F' in i:
        monday.append(list_i)
        wednesday.append(list_i)
        friday.append(list_i)
        break
    if 'T' in i:
        schedsplit=i.split(';')
        tue=schedsplit[0].split()
        thur=schedsplit[1].split()
        tues=tue[1].split('-')
        thurs=thur[1].split('-')
        tuesday.append(tues)
        thursday.append(thurs)
        break

print(monday)
print(tuesday)
print(wednesday)
print(thursday)
print(friday)

[['1830', '2000'], ['1830', '2000']]
[['1230', '1700'], ['1830', '2000'], ['1830', '2000']]
[['1830', '2000'], ['1830', '2000']]
[['1230', '1530'], ['1830', '2000'], ['1830', '2000']]
[['1830', '2000'], ['1830', '2000']]

In [ ]:
table

,Subject Code,Section,Course Title,Units,Time,Room,Instructor,Max No,Lang,Level,Free Slots,Remarks,S,P
0,CSCI 117i,E,DATA VISUALIZATION,3.0,D 1400-1530\n(ONSITE),F-227,"GAMBOA, Lance Calvin",32,ENG,U,-2,-,S,N
1,CSCI 117i,G,DATA VISUALIZATION,3.0,D 1700-1830\n(ONSITE),F-227,"GAMBOA, Lance Calvin, MAGPANTAY, Abraham",32,ENG,U,-3,-,S,N
2,CSCI 117i,H,DATA VISUALIZATION,3.0,D 1830-2000\n(ONSITE),F-227,"MAGPANTAY, Abraham",20,ENG,U,-2,-,N,N
3,CSCI 134.1i,D,INTERACTIVE SOUND ART INSTALLATION,3.0,D 1230-1400\n(ONSITE),CTC 112,"AMANTE, Francesco",25,ENG,U,0,1 SLOT(S) FOR 4TH YEAR AB IS MAJORS.,N,N
4,CSCI 142i,A1,HUMAN COMPUTER INTERACTION,3.0,D 0800-0930\n(ONSITE),F-227,"AGAPITO, JENILYN L.",20,ENG,U,-2,8 SLOT(S) FOR DISCS STUDENTS. 5 SLOT(S) FOR AB...,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1032,TMPSS 399.2,THES/DISS,DISSERTATION II,0.0,TBA\n(~),TBA,"TBA, -",50,ENG,G,50,-,N,N
1033,TMPSS 399.4,ODEF,ORAL DEFENSE,0.0,TBA\n(~),TBA,"TBA, -",50,ENG,G,50,-,N,N
1034,TMPSS 399.5,RESID,RESIDENCY,0.0,TBA\n(~),TBA,"TBA, -",50,ENG,G,50,-,N,N
1035,TMPSS 399.6,SUB-A,FINAL PAPER SUBMISSION,0.0,TBA\n(~),TBA,"TBA, -",50,ENG,G,50,-,N,N
1036,TMPSS 399.7,SUB-B,FINAL PAPER SUBMISSION,0.0,TBA\n(~),TBA,"TBA, -",50,ENG,G,50,-,N,N

In [ ]:
#code block for input data
import pandas as pd
table=pd.read_csv("HiDustin.csv")

class_list=[]

class1='ITMGT 25.03'
preferred_prof1=''
class2='ArtAp 10'
preferred_prof2=''
class3='HISTO 11'
preferred_prof3='HABANA, OLIVIA ANNE M.'

In [ ]:
#code for checking for conflict and displaying the schedules for each class
df1=table[table['Subject Code'] == class1]
if preferred_prof1!='':
    df11=df1[df1['Instructor'] == preferred_prof1]
elif preferred_prof1=='':
    df11=table[table['Subject Code'] == class1]
for a,i in enumerate(df11['Time']):
    if 'T' in i:
        i=i.replace(';','')
    s=i.split()
    s.pop(-1)
    c=' '.join(s)
    class_list.append(c)
    
    df2=table[table['Subject Code'] == class2]
    if preferred_prof2!='':
        df22=df2[df2['Instructor'] == preferred_prof2]
    elif preferred_prof2=='':
        df22=table[table['Subject Code'] == class2]
    for b,j in enumerate(df22['Time']):
        if 'T' in j:
            j=j.replace(';','')
        y=j.split()
        y.pop(-1)
        t=' '.join(y)
        class_list.append(t)
        
        if s[0] == 'D':
            if y[0] == 'T':
                if s[1] == y[1] or s[1] == y[3] or (int(s[1][:4])>int(y[1][:4]) and int(s[1][:4])<int(y[1][4:])) or (int(s[1][4:])>int(y[1][:4]) and int(s[1][4:])<int(y[1][4:])) or (int(s[1][:4])>int(y[3][:4]) and int(s[1][:4])<int(y[3][4:])) or (int(s[1][4:])>int(y[3][:4]) and int(s[1][4:])<int(y[3][4:])):
                    class_list.pop(-1)
                    if i==len(df22['Time'])-1:
                        class_list.pop(-1)
                        continue
                    continue 
            elif y[0] =='M':
                if s[1] == y[6:15] or (int(s[1][:4])>int(y[6:10]) and int(s[1][:4])<int(y[11:15])) or (int(s[1][4:])>int(y[6:10]) and int(s[1][4:])<int(y[11:15])):
                    class_list.pop(-1)
                    if i==len(df22['Time'])-1:
                        class_list.pop(-1)
                        continue
                    continue
            elif y[0] =='D':
                if s[1] == y[1] or (int(s[1][:4])>int(y[1][:4]) and int(s[1][:4])<int(y[1][4:])) or (int(s[1][4:])>int(y[1][:4]) and int(s[1][4:])<int(y[1][4:])):
                    class_list.pop(-1)
                    if i==len(df22['Time'])-1:
                        class_list.pop(-1)
                        continue
                    continue
        elif s[0] == 'T' and y[0] == 'D':
            if s[1] == y[1] or s[3] == y[1] or (int(s[1][:4])>int(y[1][:4]) and int(s[1][:4])<int(y[1][4:])) or (int(s[1][4:])>int(y[1][:4]) and int(s[1][4:])<int(y[1][4:])) or (int(s[3][:4])>int(y[1][:4]) and int(s[3][:4])<int(y[1][4:])) or (int(s[3][4:])>int(y[1][:4]) and int(s[3][4:])<int(y[1][4:])):   
                class_list.pop(-1)
                if i==len(df22['Time'])-1:
                    class_list.pop(-1)
                    continue
                continue 
        elif s[0] == 'M' and y[0] == 'D':
            if s[6:15] == y[1] or (int(s[6:10])>int(y[1][:4]) and int(s[6:10])<int(y[1][4:])) or (int(s[11:15])>int(y[1][:4]) and int(s[11:15])<int(y[1][4:])):
                class_list.pop(-1)
                if i==len(df22['Time'])-1:
                    class_list.pop(-1)
                    continue
                continue        
            
        df3=table[table['Subject Code'] == class3]
        if preferred_prof3!='':
            df33=df3[df3['Instructor'] == preferred_prof3]
        elif preferred_prof3=='':
            df33=table[table['Subject Code'] == class3]
        for c,k in enumerate(df33['Time']):
            if 'T' in k:
                k=k.replace(';','')
            v=k.split()
            v.pop(-1)
            g=' '.join(v)
            class_list.append(g)
            
            if v[0] == 'D':
                if y[0] == 'T':
                    if v[1] == y[1] or v[1] == y[3] or (int(v[1][:4])>int(y[1][:4]) and int(v[1][:4])<int(y[1][4:])) or (int(v[1][4:])>int(y[1][:4]) and int(v[1][4:])<int(y[1][4:])) or (int(v[1][:4])>int(y[3][:4]) and int(v[1][:4])<int(y[3][4:])) or (int(v[1][4:])>int(y[3][:4]) and int(v[1][4:])<int(y[3][4:])):
                        class_list.pop(-1)
                        if i==len(df33['Time'])-1:
                            class_list.pop(-1)
                            continue
                        continue
                elif s[0] == 'T':
                    if v[1] == s[1] or v[1] == s[3] or (int(g[1][:4])>int(s[1][:4]) and int(v[1][:4])<int(s[1][4:])) or (int(v[1][4:])>int(s[1][:4]) and int(v[1][4:])<int(s[1][4:])) or (int(v[1][:4])>int(s[3][:4]) and int(v[1][:4])<int(s[3][4:])) or (int(v[1][4:])>int(s[3][:4]) and int(v[1][4:])<int(s[3][4:])):
                        class_list.pop(-1)
                        if i==len(df33['Time'])-1:
                            class_list.pop(-1)
                            continue
                        continue
                elif y[0] == 'M':
                    if v[1] == y[6:15] or (int(v[1][:4])>int(y[6:10]) and int(v[1][:4])<int(y[11:15])) or (int(v[1][4:])>int(y[6:10]) and int(v[1][4:])<int(y[11:15])):
                        class_list.pop(-1)
                        if i==len(df33['Time'])-1:
                            class_list.pop(-1)
                            continue
                        continue
                elif s[0] =='M':
                    if v[1] == s[6:15] or (int(v[1][:4])>int(s[6:10]) and int(v[1][:4])<int(s[11:15])) or (int(v[1][4:])>int(s[6:10]) and int(v[1][4:])<int(s[11:15])):
                        class_list.pop(-1)
                        if i==len(df33['Time'])-1:
                            class_list.pop(-1)
                            continue
                        continue
        
            elif v[0] == 'T': 
                if y[0] == 'D':
                    if v[1] == y[1] or v[3] == y[1] or (v[1][:4]>y[1][:4] and v[1][:4]<y[1][4:]) or (v[1][4:]>y[1][:4] and v[1][4:]<y[1][4:]) or (v[3][:4]>y[1][:4] and v[3][:4]<y[1][4:]) or (v[3][4:]>y[1][:4] and v[3][4:]<y[1][4:]):   
                        class_list.pop(-1)
                        if i==len(df33['Time'])-1:
                            class_list.pop(-1)
                            continue
                        continue
                elif s[0] == 'D':
                    if v[1] == s[1] or v[3] == s[1] or (int(v[1][:4])>int(s[1][:4]) and int(v[1][:4])<int(s[1][4:])) or (int(v[1][4:])>int(y[1][:4]) and int(v[1][4:])<int(s[1][4:])) or (int(v[3][:4])>int(s[1][:4]) and int(v[3][:4])<int(s[1][4:])) or (int(v[3][4:])>int(s[1][:4]) and int(v[3][4:])<int(s[1][4:])):   
                        class_list.pop(-1)
                        if i==len(df33['Time'])-1:
                            class_list.pop(-1)
                            continue
                        continue 
            
            elif v[0] == 'M': 
                if y[0] == 'D':
                    if y[1] == v[6:15] or (int(y[1][:4])>int(v[6:10]) and y[1][:4]<v[11:15]) or (y[1][4:]>v[6:10] and y[1][4:]<v[11:15]):
                        class_list.pop(-1)
                        if i==len(df33['Time'])-1:
                            class_list.pop(-1)
                            continue
                        continue
                elif s[0]=='D':
                    if s[1] == v[1] or (int(s[1][:4])>int(v[6:10]) and int(s[1][:4])<int(v[11:15])) or (int(s[1][4:])>int(v[6:10]) and int(s[1][4:])<int(v[11:15])):
                        class_list.pop(-1)
                        if i==len(df33['Time'])-1:
                            class_list.pop(-1)
                            continue
                        continue
            break
        break
    break

print(class_list)
class_list=[]

['D 1100-1230', 'D 0930-1100', 'M-W-F 0800-1030']

In [ ]:
#for the 1st class
first = df11[df11['Time'].str.contains(class_list[0])]
first

,Subject Code,Section,Course Title,Units,Time,Room,Instructor,Max No,Lang,Level,Free Slots,Remarks,S,P
918,ITMGT 25.03,C,INFORMATION TECHNOLOGY APPLICATION PROGRAMMING...,3.0,D 1100-1230\n(ONSITE),CTC 304,"IBARRA, Nirel Marie",27,ENG,U,0,-,N,N

In [ ]:
#for the 2nd class
second = df22[df22['Time'].str.contains(class_list[1])]
second

,Subject Code,Section,Course Title,Units,Time,Room,Instructor,Max No,Lang,Level,Free Slots,Remarks,S,P
506,ArtAp 10,B,ART APPRECIATION,3.0,D 0930-1100\n(ONSITE),NATIONAL BOOKSTORE ATELIER,"YEE, CHARLES IVAN, JR.",25,ENG,U,-1,-,N,N

In [ ]:
#for the 3rd class
schedule_mask = df33[df33['Time'].str.contains(class_list[2])]
schedule_mask

,Subject Code,Section,Course Title,Units,Time,Room,Instructor,Max No,Lang,Level,Free Slots,Remarks,S,P
480,HISTO 11,I1,RIZAL AND THE EMERGENCE OF THE PHILIPPINE NATION,3.0,M-W-F 0800-1030\n(ONSITE),BEL-308,"HABANA, OLIVIA ANNE M.",30,ENG,U,-1,-,N,N